@using Web_QM.Models
@model Salary;
@{
    ViewData["Title"] = "Sửa dữ liệu";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Cập nhật lương</h4>
                    <form action="edit" class="forms-sample" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="EmployeeCode">Nhân viên</label>
                            <select asp-for="EmployeeCode" asp-items="ViewBag.ListEmployee" class="js-example-basic-multiple w-100">
                                <option value="">Chọn nhân viên</option>
                            </select>
                            <span asp-validation-for="EmployeeCode" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label asp-for="LevelSalary">Bậc lương</label>
                                <input asp-for="LevelSalary" type="number" class="form-control" min="0">
                                <span asp-validation-for="LevelSalary" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-4">
                                <label asp-for="BaseSalary">Lương cơ bản</label>
                                <input asp-for="BaseSalary" type="number" class="form-control" min="0">
                                <span asp-validation-for="BaseSalary" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-4">
                                <label asp-for="InsuranceSalary">Lương đóng BH</label>
                                <input asp-for="InsuranceSalary" type="number" class="form-control" min="0">
                                <span asp-validation-for="InsuranceSalary" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-2">
                                <label asp-for="MealAllowance">Tiền ăn</label>
                                <input asp-for="MealAllowance" type="number" class="form-control" min="0" value="30000">
                                <span asp-validation-for="MealAllowance" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-2">
                                <label asp-for="DailyResponsibilityPay">Tiền trách nhiệm ngày</label>
                                <input asp-for="DailyResponsibilityPay" type="number" class="form-control" min="0">
                                <span asp-validation-for="DailyResponsibilityPay" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-2">
                                <label asp-for="FuelAllowance">Phụ cấp xăng xe</label>
                                <input asp-for="FuelAllowance" type="number" class="form-control" min="0">
                                <span asp-validation-for="FuelAllowance" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-2">
                                <label asp-for="ExternalWorkAllowance">Phụ cấp làm ngoài</label>
                                <input asp-for="ExternalWorkAllowance" type="number" class="form-control" min="0">
                                <span asp-validation-for="ExternalWorkAllowance" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-2">
                                <label asp-for="HousingSubsidy">Trợ cấp nhà trọ</label>
                                <input asp-for="HousingSubsidy" type="number" class="form-control" min="0">
                                <span asp-validation-for="HousingSubsidy" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-2">
                                <label asp-for="DiligencePay">Tiền chuyên cần</label>
                                <input asp-for="DiligencePay" type="number" class="form-control" min="0">
                                <span asp-validation-for="DiligencePay" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-2">
                                <label asp-for="NoViolationBonus">Không phạm lỗi</label>
                                <input asp-for="NoViolationBonus" type="number" class="form-control" min="0">
                                <span asp-validation-for="NoViolationBonus" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-2">
                                <label asp-for="HazardousAllowance">Phụ cấp độc hại</label>
                                <input asp-for="HazardousAllowance" type="number" class="form-control" min="0">
                                <span asp-validation-for="HazardousAllowance" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-2">
                                <label asp-for="CNCStressAllowance">Phụ cấp căng thảng CNC</label>
                                <input asp-for="CNCStressAllowance" type="number" class="form-control" min="0">
                                <span asp-validation-for="CNCStressAllowance" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-2">
                                <label asp-for="SeniorityAllowance">Phụ cấp thâm niên</label>
                                <input asp-for="SeniorityAllowance" type="number" class="form-control" min="0">
                                <span asp-validation-for="SeniorityAllowance" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-2">
                                <label asp-for="CertificateAllowance">Phụ cấp bằng</label>
                                <input asp-for="CertificateAllowance" type="number" class="form-control" min="0">
                                <span asp-validation-for="CertificateAllowance" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-2">
                                <label asp-for="WorkingEnvironmentAllowance">Phụ cấp môi trường làm việc</label>
                                <input asp-for="WorkingEnvironmentAllowance" type="number" class="form-control" min="0">
                                <span asp-validation-for="WorkingEnvironmentAllowance" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-2">
                                <label asp-for="JobPositionAllowance">Phụ cấp vị trí làm việc</label>
                                <input asp-for="JobPositionAllowance" type="number" class="form-control" min="0">
                                <span asp-validation-for="JobPositionAllowance" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-2">
                                <label asp-for="MachineTestRunAllowance">Phụ cấp chạy thử máy</label>
                                <input asp-for="MachineTestRunAllowance" type="number" class="form-control" min="0">
                                <span asp-validation-for="MachineTestRunAllowance" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-2">
                                <label asp-for="RVFMachineMeasurementAllowance">Phụ cấp đo máy RVF</label>
                                <input asp-for="RVFMachineMeasurementAllowance" type="number" class="form-control" min="0">
                                <span asp-validation-for="RVFMachineMeasurementAllowance" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-2">
                                <label asp-for="StainlessSteelCleaningAllowance">Phụ cấp rửa hàng Inox</label>
                                <input asp-for="StainlessSteelCleaningAllowance" type="number" class="form-control" min="0">
                                <span asp-validation-for="StainlessSteelCleaningAllowance" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-2">
                                <label asp-for="FactoryGuardAllowance">Phụ cấp trông xưởng</label>
                                <input asp-for="FactoryGuardAllowance" type="number" class="form-control" min="0">
                                <span asp-validation-for="FactoryGuardAllowance" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-2">
                                <label asp-for="HeavyDutyAllowance">Phụ cấp nặng nhọc</label>
                                <input asp-for="HeavyDutyAllowance" type="number" class="form-control" min="0">
                                <span asp-validation-for="HeavyDutyAllowance" class="text-danger"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">
                            <i class="ti-file btn-icon-prepend"></i>
                            Lưu
                        </button>
                        <button type="reset" class="btn btn-warning btn-icon-text">
                            <i class="ti-reload btn-icon-prepend"></i>
                            Làm mới
                        </button>
                        <a href="~/hr/salary" class="btn btn-light">Trờ về</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}