@using Web_QM.Models
@model Violation5S;
@{
    ViewData["Title"] = "Sửa lỗi 5S";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Cập nhật</h4>
                    <form action="edit" class="forms-sample" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="CreatedDate" />
                        <div class="form-group">
                            <label asp-for="Content5S">Nội dung lỗi 5S</label>
                            <textarea asp-for="Content5S" class="form-control" style="min-height: 100px;"></textarea>
                            <span asp-validation-for="Content5S" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Amount">Tiền phạt</label>
                            <input asp-for="Amount" type="number" class="form-control" min="0">
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Note">Ghi chú</label>
                            <input asp-for="Note" type="text" class="form-control" placeholder="Ghi chú">
                            <span asp-validation-for="Note" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">
                            <i class="ti-file btn-icon-prepend"></i>
                            Lưu
                        </button>
                        <button type="reset" class="btn btn-warning btn-icon-text">
                            <i class="ti-reload btn-icon-prepend"></i>
                            Làm mới
                        </button>
                        <a href="~/admin/violation5S" class="btn btn-light">Trờ về</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}