USE [QM_DaoTao]
GO
/****** Object:  Table [dbo].[AccountPermissions]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountPermissions](
	[AccountId] [bigint] NOT NULL,
	[PermissionId] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](500) NOT NULL,
	[Salt] [nvarchar](500) NOT NULL,
	[StaffName] [nvarchar](50) NOT NULL,
	[StaffCode] [nvarchar](20) NOT NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComplaintSalary]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComplaintSalary](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MonthlyPayId] [bigint] NOT NULL,
	[CompaintContent] [nvarchar](max) NOT NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_ComplaintSalary] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
	[Note] [nvarchar](500) NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[EmployeeName] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [nvarchar](5) NULL,
	[Department] [nvarchar](50) NULL,
	[HireDate] [date] NULL,
	[Position] [nvarchar](50) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedDate] [nvarchar](50) NULL,
	[Avatar] [nvarchar](255) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeTrainingResults]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeTrainingResults](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[TrainingId] [bigint] NOT NULL,
	[Status] [int] NOT NULL,
	[EvaluationPeriod] [nvarchar](100) NOT NULL,
	[Score] [int] NOT NULL,
 CONSTRAINT [PK_EmployeeTrainingResults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeViolation5S]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeViolation5S](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[Violation5SId] [bigint] NOT NULL,
	[DateMonth] [date] NOT NULL,
	[Qty] [int] NOT NULL,
 CONSTRAINT [PK_EmployeeViolation5S] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeWorkHistories]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeWorkHistories](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[EmployeeName] [nvarchar](50) NOT NULL,
	[Department] [nvarchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_EmployeeWorkHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentRepairHistories]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentRepairHistories](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EquipmentCode] [nvarchar](50) NULL,
	[EquipmentName] [nvarchar](200) NOT NULL,
	[Qty] [int] NOT NULL,
	[Department] [nvarchar](50) NULL,
	[ErrorCondition] [nvarchar](max) NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[ProcessingMethod] [nvarchar](max) NULL,
	[DateMonth] [date] NOT NULL,
	[CompletionDate] [date] NULL,
	[ConfirmCompletionDate] [date] NULL,
	[RemedialStaff] [nvarchar](500) NULL,
	[RecipientOfRepairedDevice] [nvarchar](100) NULL,
	[RepairCosts] [nvarchar](500) NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_EquipmentRepairHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorDatas]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorDatas](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderNo] [nvarchar](500) NULL,
	[PartName] [nvarchar](100) NULL,
	[QtyOrder] [int] NOT NULL,
	[QtyNG] [int] NOT NULL,
	[DateMonth] [date] NOT NULL,
	[ErrorDetected] [nvarchar](50) NOT NULL,
	[ErrorType] [nvarchar](50) NOT NULL,
	[ErrorCause] [nvarchar](50) NULL,
	[ErrorContent] [nvarchar](500) NOT NULL,
	[ToleranceAssessment] [nvarchar](20) NULL,
	[Reason] [nvarchar](max) NULL,
	[Countermeasure] [nvarchar](max) NULL,
	[NCC] [nvarchar](10) NOT NULL,
	[EmployeeCode] [nvarchar](50) NULL,
	[Department] [nvarchar](20) NULL,
	[ErrorCompletionDate] [date] NULL,
	[RemedialMeasures] [nvarchar](50) NULL,
	[Note] [nvarchar](max) NULL,
	[TimeWriteError] [nvarchar](50) NULL,
	[ReviewNnds] [nvarchar](500) NULL,
 CONSTRAINT [PK_ErrorDatas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamPeriodicAnswers]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamPeriodicAnswers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [nvarchar](50) NOT NULL,
	[EmployeeCode] [nvarchar](10) NOT NULL,
	[ListAnswer] [nvarchar](500) NOT NULL,
	[IsShow] [int] NOT NULL,
	[TnPoint] [int] NULL,
	[TlPoint] [int] NULL,
	[Note] [nvarchar](max) NULL,
	[ExamId] [bigint] NOT NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedDate] [nvarchar](50) NULL,
	[EssayResultPDF] [nvarchar](200) NULL,
 CONSTRAINT [PK_ExamPeriodicAnswers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamPeriodics]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamPeriodics](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ExamName] [nvarchar](500) NOT NULL,
	[DurationMinute] [int] NOT NULL,
	[IsActive] [int] NOT NULL,
	[TlTotal] [int] NOT NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedDate] [nvarchar](50) NULL,
	[EssayQuestion] [nvarchar](max) NULL,
 CONSTRAINT [PK_ExamPeriodics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamTrainingAnswers]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamTrainingAnswers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [nvarchar](50) NOT NULL,
	[EmployeeCode] [nvarchar](10) NOT NULL,
	[ListAnswer] [nvarchar](500) NOT NULL,
	[IsShow] [int] NOT NULL,
	[TnPoint] [int] NULL,
	[TlPoint] [int] NULL,
	[Note] [nvarchar](max) NULL,
	[ExamTrainingId] [bigint] NOT NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedDate] [nvarchar](50) NULL,
	[EssayResultPDF] [nvarchar](200) NULL,
 CONSTRAINT [PK_ExamTrainingAnswers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamTrainings]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamTrainings](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ExamName] [nvarchar](500) NOT NULL,
	[DurationMinute] [int] NOT NULL,
	[IsActive] [int] NOT NULL,
	[TlTotal] [int] NOT NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedDate] [nvarchar](50) NULL,
	[EssayQuestion] [nvarchar](max) NULL,
 CONSTRAINT [PK_ExamTrainings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamTrialRunAnswers]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamTrialRunAnswers](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [nvarchar](50) NOT NULL,
	[EmployeeCode] [nvarchar](10) NOT NULL,
	[ListAnswer] [nvarchar](500) NOT NULL,
	[IsShow] [int] NOT NULL,
	[MultipleChoiceCorrect] [int] NOT NULL,
	[MultipleChoiceInCorrect] [int] NOT NULL,
	[MultipleChoiceFail] [int] NOT NULL,
	[EssayCorrect] [int] NOT NULL,
	[EssayInCorrect] [int] NOT NULL,
	[EssayFail] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[ExamTrialRunId] [bigint] NOT NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedDate] [nvarchar](50) NULL,
	[EssayResultPDF] [nvarchar](200) NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamTrialRuns]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamTrialRuns](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ExamName] [nvarchar](500) NOT NULL,
	[DurationMinute] [int] NOT NULL,
	[IsActive] [int] NOT NULL,
	[TestLevel] [nvarchar](20) NOT NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedDate] [nvarchar](50) NULL,
	[EssayQuestion] [nvarchar](max) NULL,
 CONSTRAINT [PK_ExamTrialRuns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FeedbackerName] [nvarchar](50) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[CreatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_Feedbacks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kaizens]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kaizens](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DateMonth] [date] NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[EmployeeName] [nvarchar](50) NOT NULL,
	[Department] [nvarchar](50) NOT NULL,
	[AppliedDepartment] [nvarchar](50) NULL,
	[ImprovementGoal] [nvarchar](50) NULL,
	[ImprovementTitle] [nvarchar](max) NOT NULL,
	[CurrentSituation] [nvarchar](max) NULL,
	[ProposedIdea] [nvarchar](max) NOT NULL,
	[EstimatedBenefit] [nvarchar](max) NULL,
	[TeamLeaderRating] [nvarchar](10) NULL,
	[ManagementReview] [nvarchar](10) NULL,
	[Picture] [nvarchar](255) NULL,
	[Deadline] [nvarchar](100) NULL,
	[StartTime] [nvarchar](100) NULL,
	[CurrentStatus] [nvarchar](500) NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Kaizens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Machine_MG]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Machine_MG](
	[MachineCode] [nvarchar](50) NOT NULL,
	[MachineGroupId] [bigint] NOT NULL,
	[Material] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachineGroups]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineGroups](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](50) NULL,
	[MachineType] [nvarchar](200) NOT NULL,
	[Standard] [nvarchar](500) NULL,
 CONSTRAINT [PK_MachineGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachineMaintenances]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineMaintenances](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MachineCode] [nvarchar](50) NOT NULL,
	[DateMonth] [date] NOT NULL,
	[MaintenanceStaff] [nvarchar](200) NULL,
	[MaintenanceContent] [nvarchar](max) NOT NULL,
	[IsComplete] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_MachineMaintenances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MachineParameters]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MachineParameters](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MachineCode] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
	[Parameters] [decimal](6, 3) NOT NULL,
	[DateMonth] [date] NOT NULL,
 CONSTRAINT [PK_MachineParameters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Machines]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Machines](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MachineCode] [nvarchar](50) NOT NULL,
	[MachineName] [nvarchar](100) NOT NULL,
	[Department] [nvarchar](50) NULL,
	[Version] [nvarchar](100) NULL,
	[NumberOfAxes] [int] NULL,
	[NumberOfKnifeSocket] [int] NULL,
	[SpindleSpeed] [nvarchar](50) NULL,
	[BottleTaper] [nvarchar](50) NULL,
	[MachineTableSizeX] [decimal](18, 2) NULL,
	[MachineTableSizeY] [decimal](18, 2) NULL,
	[MachineJourneyX] [decimal](18, 2) NULL,
	[MachineJourneyY] [decimal](18, 2) NULL,
	[MachineJourneyZ] [decimal](18, 2) NULL,
	[WideSize] [decimal](18, 2) NULL,
	[DeepSize] [decimal](18, 2) NULL,
	[HighSize] [decimal](18, 2) NULL,
	[OuterPairX] [decimal](18, 2) NULL,
	[OuterPairZ] [decimal](18, 2) NULL,
	[PairInsideX] [decimal](18, 2) NULL,
	[PairInsideZ] [decimal](18, 2) NULL,
	[TailstockX] [decimal](18, 2) NULL,
	[TailstockZ] [decimal](18, 2) NULL,
	[Weight] [decimal](4, 2) NULL,
	[Picture] [nvarchar](200) NULL,
	[Price] [decimal](18, 0) NULL,
	[MachineCapacity] [decimal](10, 3) NULL,
	[MachineOrigin] [nvarchar](50) NULL,
	[Place] [nvarchar](20) NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedDate] [nvarchar](50) NULL,
	[Status] [nvarchar](100) NOT NULL,
	[TypeMachine] [nvarchar](100) NULL,
 CONSTRAINT [PK_Machine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonthlyPayroll]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlyPayroll](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[ResponsibleDays] [int] NOT NULL,
	[RegularHours] [int] NOT NULL,
	[RegularOvertimeHours] [int] NULL,
	[SundayOvertimeHours] [int] NULL,
	[HolidayOvertimeHours] [int] NULL,
	[LateNightOvertimeHours] [int] NULL,
	[Shift3Hours] [int] NULL,
	[Shift3OvertimeHours] [int] NULL,
	[Shift3SundayOvertimeHours] [int] NULL,
	[BusinessTripAndPhoneFee] [decimal](18, 0) NULL,
	[DateMonth] [nvarchar](50) NOT NULL,
	[Penalty5S] [decimal](18, 0) NULL,
	[UnionFee] [decimal](18, 0) NULL,
	[PIT] [decimal](18, 0) NULL,
	[PaidLeaveDay] [int] NOT NULL,
	[TotalSalary] [decimal](18, 0) NOT NULL,
	[Status] [int] NULL,
	[AdvanceSalary] [decimal](18, 0) NULL,
	[LevelSalary] [int] NULL,
	[BaseSalary] [decimal](18, 0) NULL,
	[InsuranceSalary] [decimal](18, 0) NULL,
	[MealAllowance] [decimal](18, 0) NULL,
	[DailyResponsibilityPay] [decimal](18, 0) NULL,
	[FuelAllowance] [decimal](18, 0) NULL,
	[ExternalWorkAllowance] [decimal](18, 0) NULL,
	[HousingSubsidy] [decimal](18, 0) NULL,
	[DiligencePay] [decimal](18, 0) NULL,
	[NoViolationBonus] [decimal](18, 0) NULL,
	[HazardousAllowance] [decimal](18, 0) NULL,
	[CNCStressAllowance] [decimal](18, 0) NULL,
	[SeniorityAllowance] [decimal](18, 0) NULL,
	[CertificateAllowance] [decimal](18, 0) NULL,
	[WorkingEnvironmentAllowance] [decimal](18, 0) NULL,
	[JobPositionAllowance] [decimal](18, 0) NULL,
	[MachineTestRunAllowance] [decimal](18, 0) NULL,
	[RVFMachineMeasurementAllowance] [decimal](18, 0) NULL,
	[StainlessSteelCleaningAllowance] [decimal](18, 0) NULL,
	[FactoryGuardAllowance] [decimal](18, 0) NULL,
	[HeavyDutyAllowance] [decimal](18, 0) NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_MonthlyPayroll] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](200) NOT NULL,
	[IsRead] [int] NOT NULL,
	[CreatedDate] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ClaimValue] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[Module] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productivities]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productivities](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[EmployeeName] [nvarchar](50) NOT NULL,
	[ProductivityScore] [decimal](5, 2) NOT NULL,
	[MeasurementYear] [int] NOT NULL,
	[MeasurementMonth] [int] NOT NULL,
 CONSTRAINT [PK_Productivities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[OptionA] [nvarchar](max) NOT NULL,
	[OptionB] [nvarchar](max) NOT NULL,
	[OptionC] [nvarchar](max) NOT NULL,
	[OptionD] [nvarchar](max) NOT NULL,
	[CorrectOption] [nvarchar](10) NOT NULL,
	[ExamId] [bigint] NOT NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedDate] [nvarchar](50) NULL,
	[DisplayOrder] [int] NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionTrainings]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionTrainings](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[OptionA] [nvarchar](max) NOT NULL,
	[OptionB] [nvarchar](max) NOT NULL,
	[OptionC] [nvarchar](max) NOT NULL,
	[OptionD] [nvarchar](max) NOT NULL,
	[CorrectOption] [nvarchar](10) NOT NULL,
	[ExamTrainingId] [bigint] NOT NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedDate] [nvarchar](50) NULL,
	[DisplayOrder] [int] NULL,
 CONSTRAINT [PK_QuestionTraining] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionTrialRuns]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionTrialRuns](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[OptionA] [nvarchar](max) NOT NULL,
	[OptionB] [nvarchar](max) NOT NULL,
	[OptionC] [nvarchar](max) NOT NULL,
	[OptionD] [nvarchar](max) NOT NULL,
	[CorrectOption] [nvarchar](10) NOT NULL,
	[IsCritical] [int] NOT NULL,
	[ExamTrialRunId] [bigint] NOT NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedDate] [nvarchar](50) NULL,
	[DisplayOrder] [int] NULL,
 CONSTRAINT [PK_QuestionTrialRuns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReplacementEquipmentAndSupplies]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReplacementEquipmentAndSupplies](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EquipmentAndlSupplies] [nvarchar](500) NOT NULL,
	[FilePdf] [nvarchar](200) NULL,
	[EquipmentRepairId] [bigint] NOT NULL,
 CONSTRAINT [PK_ReplacementEquipmentAndSupplies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salaries]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salaries](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[LevelSalary] [int] NOT NULL,
	[BaseSalary] [decimal](18, 0) NOT NULL,
	[InsuranceSalary] [decimal](18, 0) NULL,
	[MealAllowance] [decimal](18, 0) NULL,
	[DailyResponsibilityPay] [decimal](18, 0) NULL,
	[FuelAllowance] [decimal](18, 0) NULL,
	[ExternalWorkAllowance] [decimal](18, 0) NULL,
	[HousingSubsidy] [decimal](18, 0) NULL,
	[DiligencePay] [decimal](18, 0) NULL,
	[NoViolationBonus] [decimal](18, 0) NULL,
	[HazardousAllowance] [decimal](18, 0) NULL,
	[CNCStressAllowance] [decimal](18, 0) NULL,
	[SeniorityAllowance] [decimal](18, 0) NULL,
	[CertificateAllowance] [decimal](18, 0) NULL,
	[WorkingEnvironmentAllowance] [decimal](18, 0) NULL,
	[JobPositionAllowance] [decimal](18, 0) NULL,
	[MachineTestRunAllowance] [decimal](18, 0) NULL,
	[RVFMachineMeasurementAllowance] [decimal](18, 0) NULL,
	[StainlessSteelCleaningAllowance] [decimal](18, 0) NULL,
	[FactoryGuardAllowance] [decimal](18, 0) NULL,
	[HeavyDutyAllowance] [decimal](18, 0) NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_Salaries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SawingPerformances]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SawingPerformances](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[EmployeeName] [nvarchar](50) NOT NULL,
	[SalesAmountUSD] [decimal](10, 2) NOT NULL,
	[WorkMinute] [int] NOT NULL,
	[SalesRate] [decimal](10, 2) NOT NULL,
	[MeasurementYear] [int] NOT NULL,
	[MeasurementMonth] [int] NOT NULL,
 CONSTRAINT [PK_SawingPerformances] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestPracticeDetails]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestPracticeDetails](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TestPracticeId] [bigint] NOT NULL,
	[OperationName] [nvarchar](10) NOT NULL,
	[PrepTimeStandard] [int] NOT NULL,
	[PrepTimeActual] [int] NULL,
	[OffsetCountStandard] [int] NOT NULL,
	[OffsetCountActual] [int] NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_TestPracticeDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestPractices]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestPractices](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [bigint] NOT NULL,
	[TestName] [nvarchar](50) NOT NULL,
	[TestLevel] [nvarchar](20) NOT NULL,
	[PartName] [nvarchar](50) NOT NULL,
	[Result] [nvarchar](10) NOT NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_TestPractices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trainings]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainings](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TrainingName] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedDate] [nvarchar](50) NULL,
 CONSTRAINT [PK_Trainings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Violation5S]    Script Date: 13/11/2025 1:21:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Violation5S](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Content5S] [nvarchar](max) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedDate] [nvarchar](50) NULL,
	[UpdatedDate] [nvarchar](50) NULL,
	[Amount] [decimal](10, 0) NOT NULL,
 CONSTRAINT [PK_5S] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[EquipmentRepairHistories] ADD  CONSTRAINT [DF_EquipmentRepairHistories_Qty]  DEFAULT ((1)) FOR [Qty]
GO
ALTER TABLE [dbo].[ExamPeriodicAnswers] ADD  CONSTRAINT [DF_ExamPeriodicAnswers_IsShow]  DEFAULT ((0)) FOR [IsShow]
GO
ALTER TABLE [dbo].[ExamPeriodicAnswers] ADD  CONSTRAINT [DF_ExamPeriodicAnswers_TnPoint]  DEFAULT ((0)) FOR [TnPoint]
GO
ALTER TABLE [dbo].[ExamPeriodicAnswers] ADD  CONSTRAINT [DF_ExamPeriodicAnswers_TlPoint]  DEFAULT ((0)) FOR [TlPoint]
GO
ALTER TABLE [dbo].[ExamPeriodics] ADD  CONSTRAINT [DF_ExamPeriodics_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ExamTrainingAnswers] ADD  CONSTRAINT [DF_ExamTrainingAnswers_IsShow]  DEFAULT ((0)) FOR [IsShow]
GO
ALTER TABLE [dbo].[ExamTrainingAnswers] ADD  CONSTRAINT [DF_ExamTrainingAnswers_TnPoint]  DEFAULT ((0)) FOR [TnPoint]
GO
ALTER TABLE [dbo].[ExamTrainingAnswers] ADD  CONSTRAINT [DF_ExamTrainingAnswers_TlPoint]  DEFAULT ((0)) FOR [TlPoint]
GO
ALTER TABLE [dbo].[ExamTrainings] ADD  CONSTRAINT [DF_ExamTrainings_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ExamTrialRunAnswers] ADD  CONSTRAINT [DF_Table_1_IsShow]  DEFAULT ((0)) FOR [IsShow]
GO
ALTER TABLE [dbo].[ExamTrialRunAnswers] ADD  CONSTRAINT [DF_Table_1_MultipleChoiceCorrect]  DEFAULT ((0)) FOR [MultipleChoiceCorrect]
GO
ALTER TABLE [dbo].[ExamTrialRunAnswers] ADD  CONSTRAINT [DF_Table_1_MultipleChoiceInCorrect]  DEFAULT ((0)) FOR [MultipleChoiceInCorrect]
GO
ALTER TABLE [dbo].[ExamTrialRunAnswers] ADD  CONSTRAINT [DF_Table_1_MultipleChoiceFail]  DEFAULT ((0)) FOR [MultipleChoiceFail]
GO
ALTER TABLE [dbo].[ExamTrialRunAnswers] ADD  CONSTRAINT [DF_Table_1_EssayCorrect]  DEFAULT ((0)) FOR [EssayCorrect]
GO
ALTER TABLE [dbo].[ExamTrialRunAnswers] ADD  CONSTRAINT [DF_Table_1_EssayInCorrect]  DEFAULT ((0)) FOR [EssayInCorrect]
GO
ALTER TABLE [dbo].[ExamTrialRunAnswers] ADD  CONSTRAINT [DF_Table_1_EssayFail]  DEFAULT ((0)) FOR [EssayFail]
GO
ALTER TABLE [dbo].[ExamTrialRuns] ADD  CONSTRAINT [DF_ExamTrialRuns_IsActive]  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MachineMaintenances] ADD  CONSTRAINT [DF_MachineMaintenances_IsComplete]  DEFAULT ((0)) FOR [IsComplete]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_RegularOvertimeHours]  DEFAULT ((0)) FOR [RegularOvertimeHours]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_SundayOvertimeHours]  DEFAULT ((0)) FOR [SundayOvertimeHours]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_HolidayOvertimeHours]  DEFAULT ((0)) FOR [HolidayOvertimeHours]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_LateNightOvertimeHours]  DEFAULT ((0)) FOR [LateNightOvertimeHours]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_Shift3Hours]  DEFAULT ((0)) FOR [Shift3Hours]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_Shift3OvertimeHours]  DEFAULT ((0)) FOR [Shift3OvertimeHours]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_Shift3SundayOvertimeHours]  DEFAULT ((0)) FOR [Shift3SundayOvertimeHours]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_BusinessTripAndPhoneFee]  DEFAULT ((0)) FOR [BusinessTripAndPhoneFee]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_Penalty5S]  DEFAULT ((0)) FOR [Penalty5S]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_UnionFee]  DEFAULT ((0)) FOR [UnionFee]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_PIT]  DEFAULT ((0)) FOR [PIT]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_AdvanceSalary]  DEFAULT ((0)) FOR [AdvanceSalary]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_BaseSalary]  DEFAULT ((0)) FOR [BaseSalary]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_InsuranceSalary]  DEFAULT ((0)) FOR [InsuranceSalary]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_MealAllowance]  DEFAULT ((0)) FOR [MealAllowance]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_DailyResponsibilityPay]  DEFAULT ((0)) FOR [DailyResponsibilityPay]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_FuelAllowance]  DEFAULT ((0)) FOR [FuelAllowance]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_ExternalWorkAllowance]  DEFAULT ((0)) FOR [ExternalWorkAllowance]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_HousingSubsidy]  DEFAULT ((0)) FOR [HousingSubsidy]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_DiligencePay]  DEFAULT ((0)) FOR [DiligencePay]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_NoViolationBonus]  DEFAULT ((0)) FOR [NoViolationBonus]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_HazardousAllowance]  DEFAULT ((0)) FOR [HazardousAllowance]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_CNCStressAllowance]  DEFAULT ((0)) FOR [CNCStressAllowance]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_SeniorityAllowance]  DEFAULT ((0)) FOR [SeniorityAllowance]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_CertificateAllowance]  DEFAULT ((0)) FOR [CertificateAllowance]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_WorkingEnvironmentAllowance]  DEFAULT ((0)) FOR [WorkingEnvironmentAllowance]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_JobPositionAllowance]  DEFAULT ((0)) FOR [JobPositionAllowance]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_MachineTestRunAllowance]  DEFAULT ((0)) FOR [MachineTestRunAllowance]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_RVFMachineMeasurementAllowance]  DEFAULT ((0)) FOR [RVFMachineMeasurementAllowance]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_StainlessSteelCleaningAllowance]  DEFAULT ((0)) FOR [StainlessSteelCleaningAllowance]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_FactoryGuardAllowance]  DEFAULT ((0)) FOR [FactoryGuardAllowance]
GO
ALTER TABLE [dbo].[MonthlyPayroll] ADD  CONSTRAINT [DF_MonthlyPayroll_HeavyDutyAllowance]  DEFAULT ((0)) FOR [HeavyDutyAllowance]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[QuestionTrainings] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[QuestionTrialRuns] ADD  CONSTRAINT [DF_QuestionTrialRuns_IsCritical]  DEFAULT ((0)) FOR [IsCritical]
GO
ALTER TABLE [dbo].[QuestionTrialRuns] ADD  DEFAULT ((0)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[Salaries] ADD  CONSTRAINT [DF_Salaries_BaseSalary]  DEFAULT ((0)) FOR [BaseSalary]
GO
ALTER TABLE [dbo].[Salaries] ADD  CONSTRAINT [DF_Salaries_InsuranceSalary]  DEFAULT ((0)) FOR [InsuranceSalary]
GO
ALTER TABLE [dbo].[Salaries] ADD  CONSTRAINT [DF_Salaries_MealAllowance]  DEFAULT ((0)) FOR [MealAllowance]
GO
ALTER TABLE [dbo].[Salaries] ADD  CONSTRAINT [DF_Salaries_DailyResponsibilityPay]  DEFAULT ((0)) FOR [DailyResponsibilityPay]
GO
ALTER TABLE [dbo].[Salaries] ADD  CONSTRAINT [DF_Salaries_FuelAllowance]  DEFAULT ((0)) FOR [FuelAllowance]
GO
ALTER TABLE [dbo].[Salaries] ADD  CONSTRAINT [DF_Salaries_ExternalWorkAllowance]  DEFAULT ((0)) FOR [ExternalWorkAllowance]
GO
ALTER TABLE [dbo].[Salaries] ADD  CONSTRAINT [DF_Salaries_HousingSubsidy]  DEFAULT ((0)) FOR [HousingSubsidy]
GO
ALTER TABLE [dbo].[Salaries] ADD  CONSTRAINT [DF_Salaries_DiligencePay]  DEFAULT ((0)) FOR [DiligencePay]
GO
ALTER TABLE [dbo].[Salaries] ADD  CONSTRAINT [DF_Salaries_NoViolationBonus]  DEFAULT ((0)) FOR [NoViolationBonus]
GO
ALTER TABLE [dbo].[Salaries] ADD  CONSTRAINT [DF_Salaries_HazardousAllowance]  DEFAULT ((0)) FOR [HazardousAllowance]
GO
ALTER TABLE [dbo].[Salaries] ADD  CONSTRAINT [DF_Salaries_CNCStressAllowance]  DEFAULT ((0)) FOR [CNCStressAllowance]
GO
ALTER TABLE [dbo].[Salaries] ADD  CONSTRAINT [DF_Salaries_SeniorityAllowance]  DEFAULT ((0)) FOR [SeniorityAllowance]
GO
ALTER TABLE [dbo].[Salaries] ADD  CONSTRAINT [DF_Salaries_CertificateAllowance]  DEFAULT ((0)) FOR [CertificateAllowance]
GO
ALTER TABLE [dbo].[Salaries] ADD  CONSTRAINT [DF_Salaries_WorkingEnvironmentAllowance]  DEFAULT ((0)) FOR [WorkingEnvironmentAllowance]
GO
ALTER TABLE [dbo].[Salaries] ADD  CONSTRAINT [DF_Salaries_JobPositionAllowance]  DEFAULT ((0)) FOR [JobPositionAllowance]
GO
ALTER TABLE [dbo].[Salaries] ADD  CONSTRAINT [DF_Salaries_MachineTestRunAllowance]  DEFAULT ((0)) FOR [MachineTestRunAllowance]
GO
ALTER TABLE [dbo].[Salaries] ADD  CONSTRAINT [DF_Salaries_RVFMachineMeasurementAllowance]  DEFAULT ((0)) FOR [RVFMachineMeasurementAllowance]
GO
ALTER TABLE [dbo].[Salaries] ADD  CONSTRAINT [DF_Salaries_StainlessSteelCleaningAllowance]  DEFAULT ((0)) FOR [StainlessSteelCleaningAllowance]
GO
ALTER TABLE [dbo].[Salaries] ADD  CONSTRAINT [DF_Salaries_FactoryGuardAllowance]  DEFAULT ((0)) FOR [FactoryGuardAllowance]
GO
ALTER TABLE [dbo].[Salaries] ADD  CONSTRAINT [DF_Salaries_HeavyDutyAllowance]  DEFAULT ((0)) FOR [HeavyDutyAllowance]
GO
ALTER TABLE [dbo].[Violation5S] ADD  DEFAULT ((0)) FOR [Amount]
GO
