@using Web_QM.Models
@model Account;
@{
    ViewData["Title"] = "Sửa tài khoản";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Sửa tài khoản</h4>
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            @TempData["ErrorMessage"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <form action="edit" class="forms-sample" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="StaffCode" />
                        <input type="hidden" asp-for="Salt" />
                        <input type="hidden" asp-for="StaffName" />
                        <input asp-for="Password" type="hidden">
                        <input type="hidden" asp-for="CreatedDate" />
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="UserName">Tên người dùng</label>
                                <input asp-for="UserName" type="text" class="form-control" placeholder="Nhập tên người dùng">
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">
                            <i class="ti-file btn-icon-prepend"></i>
                            Lưu
                        </button>
                        <button type="reset" class="btn btn-warning btn-icon-text">
                            <i class="ti-reload btn-icon-prepend"></i>
                            Làm mới
                        </button>
                        <a href="~/admin/account" class="btn btn-light">Trờ về</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}