@using Web_QM.Models
@model Machine;
@{
    ViewData["Title"] = "Thêm máy mới";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thêm thông tin máy mới</h4>
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            @TempData["SuccessMessage"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            @TempData["ErrorMessage"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <form action="add" class="forms-sample" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label asp-for="Department">Bộ phận</label>
                                <select asp-for="Department" asp-items="@(ViewData["Departments"] as List<SelectListItem>)" class="form-control"></select>
                                <span asp-validation-for="Department" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3">
                                <label asp-for="TypeMachine">Loại máy</label>
                                <select asp-for="TypeMachine" class="form-control">
                                    <option value="">Chọn loại máy</option>
                                    <option value="Máy tiện CNC">Máy tiện CNC</option>
                                    <option value="Máy phay CNC">Máy phay CNC</option>
                                    <option value="Máy mài phẳng CNC">Máy mài phẳng CNC</option>
                                    <option value="Máy khoan sâu chuyên dụng">Máy khoan sâu chuyên dụng</option>
                                    <option value="Máy cắt dây">Máy cắt dây</option>
                                    <option value="Máy phay cơ">Máy phay cơ</option>
                                    <option value="Máy tiện cơ">Máy tiện cơ</option>
                                    <option value="Máy khoan">Máy khoan</option>
                                    <option value="Máy đo CMM">Máy đo CMM</option>
                                    <option value="Máy cưa nhôm">Máy cưa nhôm</option>
                                    <option value="Máy cưa thép">Máy cưa thép</option>
                                    <option value="Máy phun cát">Máy phun cát</option>
                                    <option value="Máy đánh bóng">Máy đánh bóng</option>
                                    <option value="Máy nắn thủy lực">Máy nắn thủy lực</option>
                                </select>
                                <span asp-validation-for="TypeMachine" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3">
                                <label asp-for="MachineCode">Mã máy</label>
                                <input asp-for="MachineCode" type="text" class="form-control" placeholder="Nhập mã máy">
                                <span asp-validation-for="MachineCode" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3">
                                <label asp-for="MachineName">Tên máy</label>
                                <input asp-for="MachineName" type="text" class="form-control" placeholder="Nhập tên máy">
                                <span asp-validation-for="MachineName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label asp-for="Version">Đời máy</label>
                                <input asp-for="Version" type="text" class="form-control">
                                <span asp-validation-for="Version" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-2">
                                <label asp-for="NumberOfAxes">Số lượng trục</label>
                                <input asp-for="NumberOfAxes" type="number" class="form-control">
                                <span asp-validation-for="NumberOfAxes" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-2">
                                <label asp-for="NumberOfKnifeSocket">Số lượng ổ dao</label>
                                <input asp-for="NumberOfKnifeSocket" type="number" class="form-control">
                                <span asp-validation-for="NumberOfKnifeSocket" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-2">
                                <label asp-for="SpindleSpeed">Tốc độ trục chính (Rpm)</label>
                                <input asp-for="SpindleSpeed" type="text" class="form-control">
                                <span asp-validation-for="SpindleSpeed" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-2">
                                <label asp-for="BottleTaper">Đầu BT</label>
                                <input asp-for="BottleTaper" type="text" class="form-control">
                                <span asp-validation-for="BottleTaper" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="row g-0 px-5 shadow-sm">
                                    <h4 class="text-center mt-3">Kích thước bàn máy</h4>
                                    <div class="form-group col-lg-6">
                                        <label asp-for="MachineTableSizeX">X(mm)</label>
                                        <input asp-for="MachineTableSizeX" type="number" class="form-control">
                                        <span asp-validation-for="MachineTableSizeX" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label asp-for="MachineTableSizeY">Y(mm)</label>
                                        <input asp-for="MachineTableSizeY" type="number" class="form-control">
                                        <span asp-validation-for="MachineTableSizeY" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="row g-0 px-5 shadow-sm">
                                    <h4 class="text-center mt-3">Hành trình máy</h4>
                                    <div class="form-group col-lg-4">
                                        <label asp-for="MachineJourneyX">X(mm)</label>
                                        <input asp-for="MachineJourneyX" type="number" class="form-control">
                                        <span asp-validation-for="MachineJourneyX" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label asp-for="MachineJourneyY">Y(mm)</label>
                                        <input asp-for="MachineJourneyY" type="number" class="form-control">
                                        <span asp-validation-for="MachineJourneyY" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label asp-for="MachineJourneyZ">Z(mm)</label>
                                        <input asp-for="MachineJourneyZ" type="number" class="form-control">
                                        <span asp-validation-for="MachineJourneyZ" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-lg-4">
                                <div class="row g-0 shadow-sm px-5">
                                    <h4 class="text-center mt-3">Kích thước máy</h4>
                                    <div class="form-group col-lg-4">
                                        <label asp-for="WideSize">Chiều rộng(mm)</label>
                                        <input asp-for="WideSize" type="number" class="form-control">
                                        <span asp-validation-for="WideSize" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label asp-for="DeepSize">Chiều sâu(mm)</label>
                                        <input asp-for="DeepSize" type="number" class="form-control">
                                        <span asp-validation-for="DeepSize" class="text-danger"></span>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label asp-for="HighSize">Chiều cao(mm)</label>
                                        <input asp-for="HighSize" type="number" class="form-control">
                                        <span asp-validation-for="HighSize" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="row g-0 shadow-sm px-5">
                                    <h4 class="text-center mt-3">Hành trình chấu kẹp</h4>
                                    <div class="col-lg-4">
                                        <h5>Cặp ngoài</h5>
                                        <div class="form-group">
                                            <label asp-for="OuterPairX">X-max(mm)</label>
                                            <input asp-for="OuterPairX" type="number" class="form-control">
                                            <span asp-validation-for="OuterPairX" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="OuterPairZ">Z-max(mm)</label>
                                            <input asp-for="OuterPairZ" type="number" class="form-control">
                                            <span asp-validation-for="OuterPairZ" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <h5>Cặp bung phía trong</h5>
                                        <div class="form-group">
                                            <label asp-for="PairInsideX">X-max(mm)</label>
                                            <input asp-for="PairInsideX" type="number" class="form-control">
                                            <span asp-validation-for="PairInsideX" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="PairInsideZ">Z-max(mm)</label>
                                            <input asp-for="PairInsideZ" type="number" class="form-control">
                                            <span asp-validation-for="PairInsideZ" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <h5>Tiện chống tâm</h5>
                                        <div class="form-group">
                                            <label asp-for="TailstockX">X-max(mm)</label>
                                            <input asp-for="TailstockX" type="number" class="form-control">
                                            <span asp-validation-for="TailstockX" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="TailstockZ">Z-max(mm)</label>
                                            <input asp-for="TailstockZ" type="number" class="form-control">
                                            <span asp-validation-for="TailstockZ" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label asp-for="Weight">Trọng lượng (tấn)</label>
                                    <input asp-for="Weight" type="number" class="form-control">
                                    <span asp-validation-for="Weight" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div class="form-group">
                                    <label asp-for="Picture">Hình ảnh</label>
                                    <input asp-for="Picture" type="file" class="form-control" name="pictureFile" accept="image/*">
                                    <span asp-validation-for="Picture" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label asp-for="Price">Giá thành</label>
                                <input asp-for="Price" type="number" class="form-control">
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3">
                                <label asp-for="MachineCapacity">Công suất máy (kVA)</label>
                                <input asp-for="MachineCapacity" type="number" class="form-control">
                                <span asp-validation-for="MachineCapacity" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3">
                                <label asp-for="MachineOrigin">Xuất xứ</label>
                                <input asp-for="MachineOrigin" type="text" class="form-control">
                                <span asp-validation-for="MachineOrigin" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3">
                                <label asp-for="Place">Nơi đăng ký</label>
                                <input asp-for="Place" type="text" class="form-control">
                                <span asp-validation-for="Place" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label asp-for="Status">Trạng thái</label>
                                <select asp-for="Status" class="form-control">
                                    <option value="Đang hoạt động">Đang hoạt động</option>
                                    <option value="Ngưng hoạt động">Ngưng hoạt động</option>
                                    <option value="Đã bán">Đã bán</option>
                                </select>
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-8">
                                <label asp-for="Note">Ghi chú</label>
                                <input asp-for="Note" type="text" class="form-control" placeholder="Nhập ghi chú">
                                <span asp-validation-for="Note" class="text-danger"></span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">
                            <i class="ti-file btn-icon-prepend"></i>
                            Lưu
                        </button>
                        <a href="~/hr/machine" class="btn btn-light">Trờ về</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}