@using Web_QM.Models
@model ErrorData;
@{
    ViewData["Title"] = "Thêm mới lỗi sản xuất";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thêm mới lỗi sản xuất</h4>
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            @TempData["SuccessMessage"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            @TempData["ErrorMessage"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <form action="add" class="forms-sample" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label asp-for="OrderNo">OrderNo</label>
                                <input asp-for="OrderNo" type="text" class="form-control">
                                <span asp-validation-for="OrderNo" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-4">
                                <label asp-for="PartName">PartName</label>
                                <input asp-for="PartName" type="text" class="form-control">
                                <span asp-validation-for="PartName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-4">
                                <label asp-for="DateMonth">Ngày - Tháng</label>
                                <input asp-for="DateMonth" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                                <span asp-validation-for="DateMonth" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label asp-for="QtyOrder">Qty Order </label>
                                <input asp-for="QtyOrder" type="number" class="form-control">
                                <span asp-validation-for="QtyOrder" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-4">
                                <label asp-for="QtyNG">Qty NG</label>
                                <input asp-for="QtyNG" type="number" class="form-control">
                                <span asp-validation-for="QtyNG" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label asp-for="ErrorDetected">Phát hiện lỗi</label>
                                <input asp-for="ErrorDetected" type="text" class="form-control">
                                <span asp-validation-for="ErrorDetected" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-4">
                                <label asp-for="ErrorType">Dạng lỗi</label>
                                <input asp-for="ErrorType" type="text" class="form-control">
                                <span asp-validation-for="ErrorType" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-4">
                                <label asp-for="ErrorCause">Nguyên nhân lỗi</label>
                                <input asp-for="ErrorCause" type="text" class="form-control">
                                <span asp-validation-for="ErrorCause" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ErrorContent">Nội dung lỗi</label>
                            <textarea asp-for="ErrorContent" class="form-control" style="min-height: 80px;"></textarea>
                            <span asp-validation-for="ErrorContent" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ToleranceAssessment">Nhận định dung sai</label>
                            <input asp-for="ToleranceAssessment" type="text" class="form-control">
                            <span asp-validation-for="ToleranceAssessment" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Reason">Nguyên nhân</label>
                            <textarea asp-for="Reason" class="form-control" style="min-height: 80px;"></textarea>
                            <span asp-validation-for="Reason" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Countermeasure">Đối sách</label>
                            <textarea asp-for="Countermeasure" class="form-control" style="min-height: 80px;"></textarea>
                            <span asp-validation-for="Countermeasure" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label asp-for="NCC">NCC</label>
                                <input asp-for="NCC" type="text" class="form-control">
                                <span asp-validation-for="NCC" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-4">
                                <label asp-for="Department">Bộ phận</label>
                                <select asp-for="Department" asp-items="ViewBag.ListDepartment" class="js-example-basic-multiple w-100">
                                </select>
                                <span asp-validation-for="Department" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-4">
                                <label asp-for="EmployeeCode">Mã nhân viên</label>
                                <select asp-for="EmployeeCode" asp-items="ViewBag.ListEmployee" class="js-example-basic-multiple w-100">
                                    <option value="">Chọn nhân viên</option>
                                </select>
                                <span asp-validation-for="EmployeeCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label asp-for="ErrorCompletionDate">Ngày hoàn thành giấy báo lỗi</label>
                                <input asp-for="ErrorCompletionDate" type="date" class="form-control">
                                <span asp-validation-for="ErrorCompletionDate" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-4">
                                <label asp-for="RemedialMeasures">Biện pháp khắc phục</label>
                                <input asp-for="RemedialMeasures" type="text" class="form-control">
                                <span asp-validation-for="RemedialMeasures" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="TimeWriteError">Thời gian viết giấy lỗi</label>
                            <input asp-for="TimeWriteError" type="text" class="form-control">
                            <span asp-validation-for="TimeWriteError" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Note">Lưu ý</label>
                            <input asp-for="Note" type="text" class="form-control">
                            <span asp-validation-for="Note" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ReviewNnds">Rà soát NNDS</label>
                            <input asp-for="ReviewNnds" type="text" class="form-control">
                            <span asp-validation-for="ReviewNnds" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">
                            <i class="ti-file btn-icon-prepend"></i>
                            Lưu
                        </button>
                        <a href="~/production/errordata" class="btn btn-light">Trờ về</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}