<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishUrl>S:\</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <_TargetId>Folder</_TargetId>
	  
	<EnableMSDeployAppOffline>true</EnableMSDeployAppOffline>
  </PropertyGroup>

	<Target Name="CreateAppOffline" BeforeTargets="PrepareForPublish">
		<Message Text="--- Dang bao tri he thong ---" Importance="high" />

		<Copy SourceFiles="$(ProjectDir)app_offline.htm"
			  DestinationFiles="$(PublishUrl)\app_offline.htm" />

		<Exec Command="ping 127.0.0.1 -n 5 &gt; nul" />
	</Target>

	<Target Name="DeleteAppOffline" AfterTargets="Publish">
		<Message Text="--- Bao tri hoan tat ---" Importance="high" />
		<Delete Files="$(PublishUrl)\app_offline.htm" />
	</Target>
</Project>