.main-content {
    margin: 100px 0;
}

footer {
    display: none;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

    .logo-container img {
        height: 70vh;
        width: auto;
        max-width: 100%;
    }

@media (max-width: 1024px) {
    .main-content {
        margin: 0;
    }

    .logo-container {
        height: auto;
        padding: 20px 0;
    }

        .logo-container img {
            height: auto;
            max-height: 30vh;
            width: auto;
            max-width: 80%;
        }

    .col-lg-6 {
        width: 100%;
    }
}