@using Web_QM.Models
@model MonthlyPayroll;
@{
    ViewData["Title"] = "Sửa dữ liệu";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Cập nhật lương</h4>
                    <form action="edit" class="forms-sample" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label asp-for="EmployeeCode">Nhân viên</label>
                                <select asp-for="EmployeeCode" asp-items="ViewBag.ListEmployee" class="js-example-basic-multiple w-100">
                                    <option value="">Chọn nhân viên</option>
                                </select>
                                <span asp-validation-for="EmployeeCode" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3">
                                <label asp-for="ResponsibleDays">Ngày trách nhiệm</label>
                                <input asp-for="ResponsibleDays" type="number" class="form-control" min="0">
                                <span asp-validation-for="ResponsibleDays" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3">
                                <label asp-for="RegularHours">TG làm việc chính thức</label>
                                <input asp-for="RegularHours" type="number" class="form-control" min="0">
                                <span asp-validation-for="RegularHours" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3">
                                <label asp-for="DateMonth">Tháng/Năm</label>
                                <input asp-for="DateMonth" type="month" class="form-control" min="0">
                                <span asp-validation-for="DateMonth" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <h4>Thời gian tăng ca</h4>
                            <div class="form-group col-lg-3">
                                <label asp-for="RegularOvertimeHours">TG thêm giờ ngày thường (giờ)</label>
                                <input asp-for="RegularOvertimeHours" type="number" class="form-control" min="0">
                                <span asp-validation-for="RegularOvertimeHours" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3">
                                <label asp-for="SundayOvertimeHours">TG thêm giờ CN (giờ)</label>
                                <input asp-for="SundayOvertimeHours" type="number" class="form-control" min="0">
                                <span asp-validation-for="SundayOvertimeHours" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3">
                                <label asp-for="HolidayOvertimeHours">TG thêm giờ ngày lễ, tết (giờ)</label>
                                <input asp-for="HolidayOvertimeHours" type="number" class="form-control" min="0">
                                <span asp-validation-for="HolidayOvertimeHours" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3">
                                <label asp-for="LateNightOvertimeHours">TG thêm giờ sau 23 giờ (giờ)</label>
                                <input asp-for="LateNightOvertimeHours" type="number" class="form-control" min="0">
                                <span asp-validation-for="LateNightOvertimeHours" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="row">
                            <h4>Làm ca 3</h4>
                            <div class="form-group col-lg-3">
                                <label asp-for="Shift3Hours">TG làm ca 3 (giờ)</label>
                                <input asp-for="Shift3Hours" type="number" class="form-control" min="0">
                                <span asp-validation-for="Shift3Hours" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3">
                                <label asp-for="Shift3OvertimeHours">TG làm thêm giờ ca 3 (giờ)</label>
                                <input asp-for="Shift3OvertimeHours" type="number" class="form-control" min="0">
                                <span asp-validation-for="Shift3OvertimeHours" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3">
                                <label asp-for="Shift3SundayOvertimeHours">TG làm thêm giờ ca 3 CN (giờ)</label>
                                <input asp-for="Shift3SundayOvertimeHours" type="number" class="form-control" min="0">
                                <span asp-validation-for="Shift3SundayOvertimeHours" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3">
                                <label asp-for="BusinessTripAndPhoneFee">Phí công tác + điện thoại</label>
                                <input asp-for="BusinessTripAndPhoneFee" type="number" class="form-control" min="0">
                                <span asp-validation-for="BusinessTripAndPhoneFee" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <h4>Khấu trừ lương (phạt, chi phí khác,...)</h4>
                            <div class="form-group col-lg-3">
                                <label asp-for="Penalty5S">Phạt 5S</label>
                                <input asp-for="Penalty5S" type="number" class="form-control" min="0">
                                <span asp-validation-for="Penalty5S" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3">
                                <label asp-for="UnionFee">Công đoàn</label>
                                <input asp-for="UnionFee" type="number" class="form-control" min="0">
                                <span asp-validation-for="UnionFee" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3">
                                <label asp-for="PIT">Thuế TNCN</label>
                                <input asp-for="PIT" type="number" class="form-control" min="0">
                                <span asp-validation-for="PIT" class="text-danger"></span>
                            </div>
                            <div class="form-group col-lg-3">
                                <label asp-for="AdvanceSalary">Lương đã ứng</label>
                                <input asp-for="AdvanceSalary" type="number" class="form-control" min="0">
                                <span asp-validation-for="AdvanceSalary" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="PaidLeaveDay">Số ngày phép còn lại</label>
                            <input asp-for="PaidLeaveDay" type="number" class="form-control" min="0">
                            <span asp-validation-for="PaidLeaveDay" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary me-2">
                            <i class="ti-file btn-icon-prepend"></i>
                            Lưu
                        </button>
                        <button type="reset" class="btn btn-warning btn-icon-text">
                            <i class="ti-reload btn-icon-prepend"></i>
                            Làm mới
                        </button>
                        <a href="~/admin/monthlypayroll" class="btn btn-light">Trờ về</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}