@using Web_QM.Models.ViewModels
@model IEnumerable<ExamPeriodicAnswerView>
@{
    ViewData["Title"] = "Bài kiểm tra";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Danh sách các bài kiểm tra</h4>
                    <form class="form-sample" method="get">
                        <div class="row align-items-center">
                            <div class="col-lg-5 d-flex align-items-center">

                                <div class="form-group me-2 flex-grow-1 mb-0">
                                    <input type="text"
                                           class="form-control"
                                           name="name"
                                           placeholder="Nhập vào đây để tìm kiếm"
                                           value="@ViewBag.Name" />
                                </div>

                                <div class="form-group mb-0">
                                    <button type="submit" class="btn btn-primary">
                                        Tìm kiếm
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Bài kiểm tra</th>
                                    <th>Số nhân viên đã làm</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var count = 1;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@(count++)</td>
                                        <td class="fw-bold">@item.examName</td>
                                        <td>@item.employeeCount</td>
                                        <td>
                                            <a href="~/hr/result/detail?examid=@item.examId" class="btn btn-inverse-success btn-rounded btn-icon"><i class="">Nhân viên làm bài</i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>